<div class="jumbotron">
    <img src="~/Image/efectyLogo.png" width="200"/>
    
    <div>
        <b>Bienvenido al WebApi de Dynamics CRM.</b>
        <p>Este WebApi fue desarrollado para la interaccion con Dynamics CRM.</p>
    </div>

</div>
<div class="row">
    <div class="col-md-4">
        <h2>Lo que nos mueve</h2>
        <p>Somos especialistas en giros, pagos, recargas y recaudos a nivel nacional con más de 20 años de experiencia en el mercado. Contamos con una red de 8.000 Puntos de atención al público, ubicados en más de 1.070 municipios a nivel nacional. Gracias a nuestra cobertura, ofrecemos a nuestros clientes Puntos de Servicio cercanos, en los cuales pueden realizar sus operaciones de manera ágil y segura. Somos reconocidos como una compañía pionera en el mercado de Giros con solidez, trayectoria y tecnología IN HOUSE que se ajusta a las necesidades de nuestros clientes.</p>

    </div>
    <div class="col-md-4">
        <h2>Propósito Superior</h2>
        <p>Efectivo Ltda. ha establecido el propósito superior como “Facilitar la vida generando experiencias de confianza, cercanía y tranquilidad”.</p>

    </div>
    <div class="col-md-4">
        <h2>Misión</h2>
        <p>Efectivo Ltda. ha establecido la misión como “Brindamos soluciones sustentables en transacciones y medios de pago que contribuyen al bienestar económico, social y ambiental de nuestros grupos de interés, con innovación y excelencia". </p>

    </div>
</div>
